<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="assets\css/style.css" />
	</head>
	<div class = "header">
		<h1>Aquarium stock helper </h1>
	</div>
	<body >
		{{ content | safe }}
	</body>

	<div class = "header">
		made by flyingfish @
		<a href = "https://flyingfish.dev/"> flyingfish.dev</a>
		</div>
</html>
